/* #region Base */

body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.sub-section-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: currentColor;
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-header,
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.section {
  padding: 120px 0;
}

/* #endregion */

/* #region Header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-header {
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part-header {
  color: #2e2f42;
}

.nav-links .link {
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-links .link:hover,
.nav-links .link:focus,
.nav-links .link:active,
.nav-links li:first-child .link {
  color: #404bbf;
}

.nav-links li:first-child .link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
}

.site-address {
  font-style: normal;
}

.address-links .link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-links .link:hover,
.address-links .link:focus {
  color: #404bbf;
}
.page-header .container {
  display: flex;
}

.site-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-links {
  display: flex;
  gap: 40px;
  align-items: center;
}

.address-links {
  display: flex;
  gap: 40px;
}

/* #endregion */

/* #region Hero */

.hero-image {
  color: #ffffff;
  background-color: #2e2f42;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
}

.page-title {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 496px;
  margin: 0 auto 48px;
}

.order-button {
  min-width: 169px;
  min-height: 56px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* #endregion */

/* #region Advantages */

.advantages-section > .container {
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.advantages-item {
  width: calc((100% - 3 * 24px) / 4);
}

.advantages-list .sub-section-header {
  margin-bottom: 8px;
}

.advantages-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border: 1px solid #8e8f99;
  width: 100%;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* #endregion */

/* #region Team */

.team-section {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  border-top: none;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-section .section-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-card-desc {
  text-align: center;
  padding: 32px 0 32px;
}

.team-card-desc .sub-section-header {
  margin-bottom: 8px;
}

.third-section-p-text {
  margin-bottom: 8px;
}

.team-socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.team-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}
.team-socials-icon {
  fill: #f4f4fd;
}

/* #endregion */

/* #region Products */
.products-section .section-title {
  margin-bottom: 72px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
}

.products-item {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.products-desc {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.products-thumb {
  position: relative;
  overflow: hidden;
}

.products-desc > .sub-section-header {
  margin-bottom: 8px;
}

.overlay {
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item:hover .overlay {
  transform: translateY(0);
}

/* #endregion */

/* #region Footer */

.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
}
.logo-part-footer {
  color: #f4f4fd;
}

.text-wrapper {
  max-width: 264px;
  margin-right: 120px;
}

.socials-wrapper {
  font-weight: 500;
  max-width: 208px;
  margin-right: 80px;
}
.socials-text {
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-socials {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}
.footer-socials-icon {
  fill: #f4f4fd;
}

.subscribe-form-wrapper {
  margin-left: auto;
}
.subscribe-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-form-input {
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  color: #ffffff;
  background-color: transparent;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-input:focus {
  border-color: #31d0aa;
  outline: none;
}

.subscribe-form-input::placeholder {
  color: #ffffff;
}

.subscribe-form-button {
  height: 40px;
  min-width: 165px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-button:focus,
.subscribe-form-button:hover {
  background-color: #31d0aa;
}
.subscribe-button-icon {
  fill: currentColor;
  margin-left: 16px;
}
/* #endregion */

/* #region backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  box-shadow: зі значенням 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #fcfcfc;

  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open .modal {
  transition-delay: 600ms;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-caption {
  text-align: center;
  margin-bottom: 16px;
  max-width: 360px;
  font-weight: 500;
  color: #2e2f42;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-wrapper {
  position: relative;
}
.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 12px;
  padding-left: 38px;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal:nth-child(4) {
  margin-bottom: 16;
}

.modal-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.modal-form-comment:focus {
  border-color: #4d5ae5;
}

.modal-form-agreement {
  margin-bottom: 24px;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid #2e2f4266;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement-input:checked + .modal-form-box > .custom-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.modal-form-box {
  font-size: 12px;
  color: #8e8f99;
}

.custom-checkbox-icon {
  fill: transparent;
}

.agreement-input:checked
  + .modal-form-box
  > .custom-checkbox
  .custom-checkbox-icon {
  fill: #fff;
}

.modal-form-link {
  color: #4d5ae5;
}

.modal-form-button {
  display: block;
  color: #fff;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
/* #endregion */
